html,
body {
	background: #ECECF6;
}

.container-fluid {
	padding: 0px;
	position: absolute;
	top: 56px;
	bottom: 0px;
	left: 0;
	right: 0;
	overflow-y: auto;
}

/* 设置header */
.container-header {
	background-image: url(../img/container-header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.container-header .content {
	background: rgba(222, 222, 222, 0.6);
	width: 100%;
	height: 100%;
	padding-top: 100px;
}


.content .card {
	width: 300px;
	margin: 0 auto;
	background: rgba(222, 222, 222, 0.9);
	box-shadow: #e1e1e1 1px 1px 2px; 
	border: none;
}

.content h2,
.content h5{
	text-align: center;
}

.content img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
}

#giveMeMoney{
	margin-left: 38px;
}

@media (max-width:720px) {
	.container-header .content {
		padding-top: 50px;
	}
}
