html,
body {
	background: #ECECF6;
	
}
.nav-banner{
	background: url(../img/nav-banner.jpg);background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 56px;
	width: 100%;
}
.navbar {
	background: url(../img/nav-banner.jpg);background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background: rgba(175, 161, 111, 0.7) !important;*/
	color: #fff !important;
}
.container-fluid {
	padding: 5px 30px;
	position: absolute;
	top: 56px;
	bottom: 0px;
	left: 0;
	right: 0;
	overflow-y: auto;
}

.card-title,.card-subtitle{
	text-align: center;
}
.card-img-top {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}
.container-fluid .col-md-3,
.container-fluid .col-md-9,
.container-fluid .col-lg-2,
.container-fluid .col-lg-10 {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	overflow: hidden;
}

.rounded-circle {
	width: 150px;
	height: 150px;
	margin: 25px auto;
	display: block;
}

#carouselCard {
	padding: 5px;
}

.carousel-item {
	width: 100%;
	height: 150px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}
#leftArrow,#rightArrow{
	float: left;
	width: 50%;
}

#leftArrow a,#rightArrow a{
	width: 250px;
}

#rightArrow{
	text-align: right;
}


.required{
	color: red;
}


.media img{
	width: 64px;
	height: 64px;
	background: rgba(222,222,222,0.8);
}
@media (max-width:720px) {

	.carousel-item {
		height: 250px;
	}
	.card-img-top {
		height: 300px;
	}
	
	.container-body .rounded-circle {
		margin: 75px auto;
	}
	
	
	#leftArrow a,#rightArrow a{
		width: 160px;
	}
}

@media (max-width:576px) {
	
	#leftArrow a,#rightArrow a{
		width: 120px;
	}
}
